services:
  api:
    build: .
    container_name: nest_api
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    depends_on:
      - postgres
      - redis
    networks:
      - credpal-network
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - credpal-network
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: bitnami/redis:latest
    container_name: redis
    env_file:
      - ./.env
    networks:
      - credpal-network
    restart: always
    ports:
      - "6379:6379"

networks:
  credpal-network:
    driver: bridge

volumes:
  postgres_data:
